body {
    font-family: Arial, sans-serif;
    background-color: #4CBB17;
}

header {
    background: #004C54;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

h1, h2, h3 {
    color: #004C54;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #004C54;
    color: #fff;
    position:fixed;bottom:0;left:0;right:0;height:30px;
}